.li-item {
    color: blue;
}

#ul-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.image-block {
    height:100px;
}

#section1 {
    margin: 0, auto;
    padding: 40px;
}

.p-email {
    margin-bottom: 10px;

}





